{% extends 'home.html' %}

{% block main %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% if user.id == ciencia_ficción.usuario.id %}

<div class="container text-center">

<form method="post">{% csrf_token %}
    <h4>Estás seguro(a) que deseas borrar el libro {{Ciencia_Ficción.Titulo}} {{Ciencia_Ficción.Escritor}} ?</h4>
    <p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </p>
</form>

</div>
{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock main %}